@font-face {
    font-family: "Pacifico";
    src: url("https://startup.ajscs260.com/fonts/Pacifico-Regular.ttf");
}

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    padding-bottom: 0;
    margin: 0;
}

.img {
    z-index: 0;
}

.imgWrapper {
    height: 15vw;
    width: 100vw;
    overflow: hidden;
    object-position: center;
    border-radius: 10px;
}

h1 {
    /* box sizing and positioning */
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    border: 0;
    top: calc(15vw / 2 - 10vw / 3);
    left: 0;
    z-index: 1;
    /* text parameters */
    text-align: center;
    color: #d880a9;
    font-family: "Pacifico";
    font-size: 5vw;
}

h1:hover {
    cursor: default;
}

nav {
    display: block;
    height: 42px;
    background-color: #dddddd;
    padding-bottom: 0;
    border-radius: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a {
    color: #000000;
    padding: 10px 20px;
    display: block;
    float: left;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
}

li a:hover {
    color: #350636;
    background-color: #d880a9;;
}

li a:active {
    border: 2px;
    border-color: black;
}

.login {
    display: block;
    float: right;
}

main {
    margin: 0;
        background-color: #eeeeee;
}

h2 {
    margin: 0;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 5vw;
}

h3 {
    display: block;
    text-align: center;
    font-size: 2em;
}

#emailWrapper {
    text-align: center;
}

#email {
    height: 15px;
    width: 200px;
}

#passwordWrapper {
    text-align: center;
}

#password {
    height: 15px;
    width: 200px;
}

#buttonWrapper {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 250px;
}

#loginButton {
    background-color: #d880a9;
    border-radius: 5px;
}

#loginButton:hover {
    cursor: pointer;
}

footer {
    background-color: #dddddd;
    padding: 0;
    border-radius: 10px;
}

div.source {
    text-align: center;
}

a.source {
    text-decoration: none;
    font-family: "Pacifico";
    color: #000000;
}

