@font-face {
    font-family: "Pacifico";
    src: url("https://startup.ajscs260.com/fonts/Pacifico-Regular.ttf");
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    /* box sizing and positioning */
    margin: 0;
    width: 100%;
    position: absolute;
    border: 0;
    top: 60px;
    left: 0;
    z-index: 1;
    /* text parameters */
    text-align: center;
    font-size: 80px;
    color: #d880a9;
    font-family: "Pacifico";
}

nav {
    display: block;
    height: 55px;
    background-color: #dddddd;
    padding-bottom: 0;
    border-radius: 10px;
}

h1:hover {
    cursor: default;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li a {
    color: #000000;
    padding: 10px 20px;
    display: block;
    float: left;
    text-decoration: none;
    border-radius: 10px;
    font-size: 30px;
}

.login {
    display: block;
    float: right;
    font-size: 30px;
    padding: 10px 20px;
}

.login:hover {
    cursor: default;
}

li a:hover {
    color: #350636;
    background-color: #d880a9;;
}

main {
    background-color: #eeeeee;
}

footer {
    background-color: #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.source {
    padding-left: 20px;
}

a.source {
    text-decoration: none;
    color: #000000;
}

.TopBackground {
    display: block;
    z-index: 0;
}

.imgWrapper {
    height: 200px;
    overflow: hidden;
    object-position: center;
}